.item {
  text-decoration: none;
  color: #f1dcc9;
}
.active {
  color: aqua;
  text-decoration: none;
}
.defaultPhoto {
  width: 80px;
  background-color: black;
  border-radius: 50%;
  padding: 5px;
}
