.loader {
  border: 10px solid;
  border-top: 50px solid #42313a;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid #42313a;
  border-radius: 50%;
  width: 0px;
  height: 0px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
