.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  color: #f1dcc9;
  grid-template-areas:
    "header header"
    "sidebar main-content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  background-color: #9f4636;
}
